Screen {
    align: center middle;
    layout: vertical;
}
Header {
  dock: top;
  height: 1;
  content-align: center middle;
  background: blanchedalmond;
}
.box {
    border: solid green;
}
#Chat {
    height: 80%;
}
#inputarea {
    height: 20%;
}
#input-text {
    border: solid green;
    height: 100%;
    width: 2fr;
}
#send {
    width: 1fr;
    height: 100%;
}
